.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 20px 12px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar.dark {
  background-color: #2e2e2e;
}

.sidebar img {
  width: 20px;
  transition: filter 0.3s;
}

.sidebar.dark img {
  filter: brightness(0) invert(1);
}

.sidebar .menu {
  display: block;
  margin-left: 10px;
  cursor: pointer;
}

.sidebar .new-chat {
  margin-top: 18px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: #e2e6eb;
  border-radius: 50px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar.dark .new-chat {
  background-color: #444;
  color: #ddd;
}

.sidebar .new-chat:hover {
  background-color: #d6d9df;
}

.sidebar.dark .new-chat:hover {
  background-color: #555;
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s;
}

.sidebar .recent-title {
  margin-top: 24px;
  margin-bottom: 14px;
  color: #333;
}

.sidebar.dark .recent-title {
  color: #ddd;
}

.sidebar .recent-entry {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  margin-bottom: 6px;
  border-radius: 25px;
  color: #282828;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar.dark .recent-entry {
  color: #ddd;
}

.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
}

.sidebar.dark .recent-entry:hover {
  background-color: #555;
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sidebar .bottom-item {
  color: #444;
}

.sidebar.dark .bottom-item {
  color: #ccc;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
